:root {
    box-sizing: border-box;
    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-gray: #918E9B;
    --clr-dark: #1A1B21;
    --clr-accent: #F3BF99;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.root {
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: #1A1B21;
  
}

.container {
   padding: 1.5em;
   background-color: #1A1B21;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

h2 {
  font-size: 1.5625rem;
  font-weight: var(--fw-bold);
  color: var(--clr-light);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}



.job {
  margin-top: .375em;
  margin-bottom: 0;
  color: var(--clr-accent);
  font-size: .8125rem;
  font-weight: var(--fw-reg);
}

.email {
  font-size: .625rem;
  margin-top: 1rem;
  color: #F5F5F5;
}

.details {
  text-align: center;
}

.body {
  color: var(--clr-light);
  padding-block: 1.5em;
}

.body p {
  font-size: .625rem;
  line-height: 1.5;
  color: #DCDCDC;
}

.social-area {
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: #161619;
  padding-block-start: 1.5em;
}

.social-icon {
  width: 20px;
  aspect-ratio: 1;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn {
  flex:1;
  padding: .4em .5em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
border: none;
display: flex;
justify-content: center;
gap: 10px;
}

.btn-linkedin {
  background-color: rgba(80, 147, 226, 1);
  color: var(--clr-light)
  ;
}

.btn:hover {
  cursor: pointer;
}

.btn-icon {
  max-width: 16px;
  display: inline-block;
}
