/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
	font-size: min(calc(0.7em + 1vw), 18px);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	--ff-primary: 'Karla', sans-serif;

	--fw-reg: 500;
	--fw-med: 600;
	--fw-bold: 700;

	--clr-quest-answer: #293264;
	--clr-btn: #4d5b9e;
	--clr-btn-select: #d6dbf5;
	--clr-div: #dbdef0;
	--clr-bg: #f5f7fb;
	--clr-correct: #94d7a2;
	--clr-wrong: #f8bcbc;

	--fs-h1: 2rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--ff-primary);
}

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

img {
	width: 100%;
	display: block;
}

/*****************
    TYPOGRAPHY
*****************/

.start-screen {
	text-align: center;
	color: var(--clr-quest-answer);
}

.start-screen h1 {
	font-weight: var(--fw-bold);
	margin-bottom: 1em;
}

.start-screen h2 {
	color: var(--clr-btn);
}

.quiz__question,
.result-text {
	margin-bottom: 1em;
	font-weight: var(--fw-bold);
	color: var(--clr-quest-answer);
}

.error-msg {
	font-weight: var(--fw-bold);
	color: red;
	line-height: 1.5;
	font-size: 1.1rem;
}

/*****************
    LAYOUT
*****************/

.start-screen {
	min-height: 90vh;
	display: -ms-grid;
	display: grid;
	place-content: center;
}

.app {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	min-width: 100%;
	background-color: var(--clr-bg);
}

.app-container {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	position: relative;
	z-index: 2;
	padding: 3em 1em;
}

main {
	max-width: 800px;
}

.bulb {
	max-width: 150px;
	position: absolute;
}

.yellow {
	top: 0;
	right: 0;
}

.blue {
	bottom: 0;
	left: 0;
}

.start-btn,
.check-btn {
	border: none;
	background-color: var(--clr-btn);
	color: var(--clr-bg);
	font-weight: var(--fw-med);
	width: 50%;
	padding-block: 1em;
	border-radius: 10px;
	cursor: pointer;
	margin: 2em auto 2em auto;
	display: block;
}

.quiz--btn {
	border: 2px solid var(--clr-btn);
	background-color: transparent;
	border-radius: 10px;
	padding: 0.5em 1em;
	color: var(--clr-quest-answer);
	font-weight: var(--fw-med);
	cursor: pointer;
}

.start-btn:disabled,
.start-btn:disabled:focus,
.start-btn:disabled:hover {
	background-color: var(--clr-wrong);
	opacity: .5;
	color: var(--clr-btn);
	cursor:default;
}

.check-btn {
	max-width: 200px;
}

.quiz-container {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.quiz__question {
	margin-bottom: 1em;
}

.quiz__btn-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 1em;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.start-btn:hover,
.start-btn:focus,
.quiz--btn:hover,
.quiz--btn:focus,
.check-btn:focus,
.check-btn:hover {
	opacity: 0.8;
	-webkit-transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	transition: 200ms ease-out;
}

.quiz--divider {
	border: var(--clr-div) solid 1px;
	margin: 1.2em 0 1.5em 0;
}

.result-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}

select,
label {
	display: block;
	margin: 0 auto;
	margin-block: 1em;
}

.form-field {
	margin-bottom: 1.52em;
	width: 80%;
}

/**************
FORM INPUT STYLING
****************/

input {
	background-color: white;
	border: thin solid var(--clr-btn);
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 1em 0.5em 1em;
	margin-bottom: 2em;
	width: 80%;
}

input:focus {
	border-color: var(--clr-correct);
	outline: 0;
}

select {
	/* styling */
	background-color: white;
	border: thin solid var(--clr-btn);
	border-radius: 15px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	margin-bottom: 2em;
	width: 80%;

	/* reset */

	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select.minimal {
	background-image: -o-linear-gradient(45deg, transparent 50%, gray 50%),
		-o-linear-gradient(315deg, gray 50%, transparent 50%), -o-linear-gradient(left, #ccc, #ccc);
	background-image: linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px),
		calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
}

select.minimal:focus {
	background-image: -o-linear-gradient(45deg, green 50%, transparent 50%),
		-o-linear-gradient(315deg, transparent 50%, green 50%), -o-linear-gradient(left, #ccc, #ccc);
	background-image: linear-gradient(45deg, green 50%, transparent 50%),
		linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
	border-color: var(--clr-correct);
	outline: 0;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

input {
	text-align: center;
	border: 1px solid #6c757d;
}

input[type='number'] {
	-webkit-appearance: textfield !important;
	-moz-appearance: textfield !important;
	appearance: textfield !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.wrapper {
	border: thin solid var(--clr-btn);
	width: 80%;
	height: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 15px;
	-ms-flex-line-pack: center;
	    align-content: center;
	overflow: hidden;
}

.plusminus {
	height: 100%;
	width: 30%;
	background: white;
	border: none;
	font-size: 2rem;
	color: var(--clr-btn);
	cursor: pointer;
}

.num {
	height: 100%;
	width: 39%;
	border: none;
	font-size: 1.4rem;
	font-family: inherit;
}

/************
SPINNER
https://css-tricks.com/single-element-loaders-the-spinner/
************/
.loader {
	width: 70px; /* control the size */
	aspect-ratio: 1;
	display: -ms-grid;
	display: grid;
	margin: 1.5em auto 0;
	-webkit-mask: conic-gradient(from 22deg, #0003,#000);
			mask: conic-gradient(from 22deg, #0003,#000);
	-webkit-animation: load 1s steps(8) infinite;
	        animation: load 1s steps(8) infinite;
  }
  .loader,
  .loader:before {
	--_g: linear-gradient(var(--clr-quest-answer) 0 0) 50%; /* update the color here */
	background: 
	  var(--_g)/34% 8%  space no-repeat,
	  var(--_g)/8%  34% no-repeat space;
  }
  .loader:before {
	content: "";
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
  }
  @-webkit-keyframes load {
	from {-webkit-transform: rotate(0turn);transform: rotate(0turn)}
	to   {-webkit-transform: rotate(1turn);transform: rotate(1turn)}
  }
  @keyframes load {
	from {-webkit-transform: rotate(0turn);transform: rotate(0turn)}
	to   {-webkit-transform: rotate(1turn);transform: rotate(1turn)}
  }
